--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4

groq==0.31.0

langgraph==0.6.5
langchain==0.3.27
langchain-core==0.3.75
langchain-community==0.3.29

tavily-python==0.7.11

numpy==1.26.4

torch==2.5.1
transformers==4.48.3
sentence-transformers==3.4.1

psycopg2-binary==2.9.10
pgvector==0.3.6

pypdf==5.9.0
python-dotenv==1.1.1

hf_transfer
